:root {
	--primary-text-color: #303030;
	--secondary-text-color: #9da4bd;
	--secondary-alfa-text-color: rgba(157, 164, 189, 0.6);
	--tertiary-text-color: #555555;
	--white-text-color: #ffffff;
	--accent-text-color: #ff6c00;
	--bg-color: #f7f7f7;
}

body {
	font-family: Open Sans, sans-serif;
	letter-spacing: 0.02em;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
/* header  */
.site-nav {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.link-nav {
	color: var(--white-text-color);
}
.link-nav:hover,
.link-nav:focus {
	color: var(--accent-text-color);
}
.tel-nav {
	color: var(--white-text-color);

	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.tel:hover,
.tel:focus {
	color: var(--accent-text-color);
}
.btn-nav,
.btn-prices {
	color: var(--white-text-color);
	background-color: transparent;

	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	text-transform: uppercase;
	letter-spacing: 0.09em;
}
.btn-nav:hover,
.btn-nav:focus,
.btn-prices:hover,
.btn-prices:focus {
	background-color: var(--accent-text-color);
}

/* hero */
.header,
.hero {
	background-color: #555555;
}
.link-hero {
	color: var(--primary-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
}
.link-hero:hover,
.link-hero:focus {
	color: var(--accent-text-color);
}
.description-hero-one {
	color: var(--secondary-alfa-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.title-hero {
	color: var(--white-text-color);
	font-family: Raleway;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;
}
.description-hero-two {
	color: var(--secondary-text-color);

	font-size: 18px;
	line-height: 1.66;
}
/* about us */
.title-about {
	color: var(--primary-text-color);

	font-family: Raleway;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
}
.text-about-one {
	color: var(--primary-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.text-about-two {
	color: var(--tertiary-text-color);

	font-size: 18px;
	line-height: 1.66;
}
.text-about-three {
	color: var(--tertiary-text-color);
	font-size: 14px;
	line-height: 26px;
}
.btn-about {
	color: var(--primary-text-color);
	background-color: transparent;

	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
}
.btn-about:hover,
.btn-about:focus {
	color: var(--white-text-color);
	background-color: var(--accent-text-color);
}
/* prices */
.text-prices {
	color: var(--secondary-alfa-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.title-prices {
	color: var(--white-text-color);

	font-family: Raleway;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
}
.list-prices {
	color: var(--secondary-text-color);

	font-size: 18px;
	line-height: 1.66;
}
/* why come to us */
.item-why {
	background-color: var(--bg-color);
}
.text-why-number {
	color: var(--primary-text-color);

	font-weight: bold;
	font-size: 42px;
	line-height: 1.36;
	letter-spacing: 0.05em;
}
.text-why-one {
	color: var(--primary-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
}
.text-why-two {
	color: var(--primary-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.title-why {
	color: var(--primary-text-color);

	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
}
.text-why-three {
	color: var(--tertiary-text-color);

	font-size: 18px;
	line-height: 1.66;
}
/* masters */
.section-masters {
	background-color: var(--bg-color);
}
.text-masters {
	color: var(--primary-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.title-masters {
	color: var(--primary-text-color);

	font-family: Raleway;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
}
.subtitle-masters {
	color: var(--primary-text-color);

	font-size: 18px;
	line-height: 1.39;
}
.position-masters {
	color: var(--accent-text-color);

	font-size: 14px;
	line-height: 1.36px;
}
/* what is barber */
.text-what {
	color: var(--primary-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
/* registration */
.title-reg,
.title-contacts {
	color: var(--white-text-color);

	font-family: Raleway;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
}
/* contacts */
.link-contacts {
	color: var(--secondary-text-color);

	font-size: 18px;
	line-height: 1.66;
	font-style: normal;
}
.mail-contacts {
	text-decoration-line: underline;
}
.text-contacts {
	color: var(--white-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.hours-contacts {
	color: var(--secondary-text-color);

	font-size: 18px;
	line-height: 1.66;
}
/* footer */
.footer {
	background-color: var(--bg-color);
}
.copyright {
	color: var(--secondary-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
}
.link-footer {
	color: var(--primary-text-color);

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
}
